@import "./css/nav.css";
@import "./css/home-page.css";
@import "./css/login-signup.css";

:root{
    --bg-clr: #e5e5e5;
    --primary-clr: #fca311;
    --text:rgb(240, 238, 238);
    --text-on-white: #8d8d8d;
}

.primary-clr{
    background-color: var(--primary-clr);
}

.bg-clr{
    background-color: var(--bg-clr);
}


/* display classes */
.disp-grid{
    display: grid;
}

/* font size */

.font-size-1pt7{
    font-size: 1.7rem;
}

.font-size-2pt6{
    font-size: 2.6rem;
}
/* font-alignment */

.txt-align-cntr{
    text-align: center;
}



/* utility class */

.p-rl-6{
    padding-left: 6rem;
    padding-right: 6rem;
}

.m-t-8{
    margin-top: 8rem;
}

.m-l-1{
    margin-left: 1rem;
}

/* cards-modification */

.card-author,
.card-text{
    color: var(--text-on-white);
}